*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.aboba{
height: 150px;
background-color: rgb(255, 255, 255);

}
.one{
    height: 270px;
    background-color: coral;
  
}
.two{
height: 270px;
background-color: cornflowerblue;
}
.three{
    height: 270px;
    background-color: cornsilk;
}
.four{
    height: 270px;
    width: 500px;
    background-color: darkgoldenrod;
   float: left;
}
.five{
    height: 270px;
    width: 500px;
    background-color: rgb(64, 252, 211);
   float: right;
}
.six{
    height: 270px;
    width: 519px;
    background-color: rgb(92, 102, 255);
    float: right;
}
.seven{
    height: 270px;
    width: 100%;
    background-color: darkgreen;
    float: left;
}
.eight{
    height: 270px;
    width: 50%;
    background-color: rgb(34, 202, 34);
    float: left;
}
.nine{
    height: 270px;
    width: 50%;
    background-color: rgb(239, 253, 43);
    float: left;
}
.ten{
width: 100%;
height: 300px;
background-color: rgb(123, 105, 245);
float: left;
}
.eleven{
width: 230px;
height: 230px;
background-color: rgb(255, 129, 196);
position: relative;
top: 850px;
left: 200px;
}
.twelve{
    width: 230px;
    height: 230px;
    background-color: rgb(179, 248, 152);
    position: relative;
    top: 620px;
    left: 600px;
}
.thirteen{
    width: 230px;
    height: 230px;
    background-color: rgb(248, 187, 152);
    position: relative;
    top: 390px;
    left: 1000px;
}
h2{
width: 300px;
height: 200px;
background-color: rgb(255, 107, 255);
border: 2px solid black;
display: inline-block;

}
.obg{
margin-left: 40px;
}



